@import "_variables.scss";
@import "_mixins.scss";


@include screen-media(375px, 0)
{
	figure figcaption
	{
		font-size: $font-base * 0.9;
	}
}
@include screen-media(400px, 0)
{
	table
	{
		tbody
		{
			th
			{
				font-size: $font-base*1.2;
			}
			td
			{
				font-size: $font-base*1.2;
				text-align: right;
			}
		}
		tfoot
		{
			td
			{
				padding-right: 12%;
			}
		}
	}
}
@include screen-media(425px, 0)
{
	.horizontalnav
	{
		ul
		{
			a
			{
				height: $font-base * 3 + $font-base;
				li
				{
					height: $font-base*2;
					line-height: $font-base*2;
				}
			}
		}
	}
}



@include screen-media(500px, 0)
{
	h1
	{
		font-size: ($font-base * 3) * 0.8;
	}
	figure
	{
		width: 100%;
	}
	.container
	{
		width: 80%;
	}
	h2
	{
		font-size: ($font-base * 2) *0.8;
	}
}

@include screen-media(600px, 0)
{
	#hours h2
	{
		margin-top: 6%;
	}
}
@include screen-media(700px, 0)
{
	h1
	{
		font-size: $font-base * 3.2;
	}
	h2 
	{
		font-size: $font-base * 2.2;
	}
	figure figcaption
	{
		font-size: $font-base;
	}
}
@include screen-media(900px, 0)
{
	.horizontalnav
	{
		ul
		{
			a
			{
				height: $font-base * 5 + $font-base;
				li
				{
					height: $font-base;
					line-height: $font-base;
					font-size: $font-base*2
				}
			}
		}
	}
	table
	{
		tbody
		{
			th
			{
				font-size: $font-base*1.5;
			}
			td
			{
				font-size: $font-base*1.5;
				text-align: right;
			}
		}
		tfoot
		{
			td
			{
				padding-right: 12%;
			}
		}
	}
}
