$rainbow-color: orange , yellow, green, cyan, blue, violet, yellow;
$rainbow-width: 500%;
$primary-color: rgba(53, 53, 53, 0.871);
$primary-color-hover: rgba(79, 79, 79, 0.965);
$secondary-color:rgba(32, 32, 32, 0.98);
$glass-color:  rgba(187, 187, 187, 0.396);
$nav-count: 3;
$nav-width: 100% / $nav-count;
$font-base: 1.0em;
$grid-width: 100%/12;