h1 {
  width: 80%;
  margin: auto;
  padding: auto;
  text-align: center;
  font-size: 3em;
  text-shadow: 5px 5px 15px #333;
}

label, .horizontalnav ul a, figure figcaption, footer, form fieldset {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 1em;
}

.horizontalnav ul a, footer a, footer a:visited {
  text-decoration: none;
}

div img {
  width: 50%;
}

article p, #menu, #hours, #newsLetter, #contact {
  background-color: rgba(187, 187, 187, 0.396);
}

.row {
  width: 49%;
  display: inline-block;
}

.wrapper {
  background-image: url("../images/background3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: absolute;
}

.gap {
  content: "";
  border: 3px solid grey;
  height: 0px;
}

.wrapper {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.mobile1, .mobile2 {
  display: none;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
  color: none;
  background-color: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  border: none;
}

label {
  color: white;
}

.horizontalnav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: auto;
}

.horizontalnav ul a {
  height: 3.5em;
  background-color: rgba(53, 53, 53, 0.871);
  text-align: center;
  -webkit-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
  color: white;
  border-right: rgba(79, 79, 79, 0.965) 1px solid;
  -webkit-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.horizontalnav ul a:hover {
  background-color: rgba(79, 79, 79, 0.965);
}

.horizontalnav ul a:first-of-type {
  -webkit-flex-shrink: 2;
      -ms-flex-negative: 2;
          flex-shrink: 2;
}

.horizontalnav ul a li {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 1.5em;
  line-height: 1.5em;
}

.horizontalnav .rainbow {
  background: -webkit-linear-gradient(45deg, orange, yellow, green, cyan, blue, violet, yellow);
  background: -moz-linear-gradient(45deg, orange, yellow, green, cyan, blue, violet, yellow);
  background: -o-linear-gradient(45deg, orange, yellow, green, cyan, blue, violet, yellow);
  background: linear-gradient(45deg, orange, yellow, green, cyan, blue, violet, yellow);
  -webkit-animation: Scroll-Right 10s linear infinite;
     -moz-animation: Scroll-Right 10s linear infinite;
       -o-animation: Scroll-Right 10s linear infinite;
          animation: Scroll-Right 10s linear infinite;
  position: absolute;
  width: 500%;
  height: 2px;
}

h1 {
  color: white;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 10%;
}

h2 {
  margin-bottom: 5%;
  margin-top: 5%;
  padding-top: 2%;
  text-align: center;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  color: white;
}

figure {
  margin: auto;
  margin-bottom: 10%;
  width: 100%;
}

figure img {
  width: 100%;
}

figure img#shop {
  padding: 30px;
  -webkit-filter: sepia(40%) grayscale(20%);
          filter: sepia(40%) grayscale(20%);
  -webkit-transform: scaleY(0.8);
     -moz-transform: scaleY(0.8);
      -ms-transform: scaleY(0.8);
       -o-transform: scaleY(0.8);
          transform: scaleY(0.8);
}

figure figcaption {
  border: 10px solid transparent;
  -webkit-border-image: url(../images/border2.png) 30 stretch;
     -moz-border-image: url(../images/border2.png) 30 stretch;
       -o-border-image: url(../images/border2.png) 30 stretch;
          border-image: url(../images/border2.png) 30 stretch;
  font-size: 0.7em;
  text-align: center;
  color: rgba(207, 207, 207, 0.965);
  margin-top: -9em;
  margin-left: 95%;
  width: 4%;
}

article p {
  color: white;
  width: 80%;
  margin: auto;
  padding: 5% 10%;
  text-align: center;
  font-size: 1em;
  text-shadow: 5px 5px 15px #111;
  font-family: 'Lato', sans-serif;
}

#menu div img {
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 5px #666;
     -moz-box-shadow: 0px 0px 5px 5px #666;
          box-shadow: 0px 0px 5px 5px #666;
}

#menu div img#menu_1 {
  -webkit-border-top-left-radius: 10px;
     -moz-border-radius-topleft: 10px;
          border-top-left-radius: 10px;
}

#menu div img#menu_2 {
  -webkit-border-bottom-left-radius: 10px;
     -moz-border-radius-bottomleft: 10px;
          border-bottom-left-radius: 10px;
}

#menu div img#menu_3 {
  -webkit-border-top-right-radius: 10px;
     -moz-border-radius-topright: 10px;
          border-top-right-radius: 10px;
}

#menu div img#menu_4 {
  -webkit-border-bottom-right-radius: 10px;
     -moz-border-radius-bottomright: 10px;
          border-bottom-right-radius: 10px;
}

.container {
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
}

.card {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  padding: auto;
  text-align: center;
  background-color: white;
  height: 500px;
}

footer {
  margin-top: 15%;
  position: relative;
  bottom: -1px;
  background-color: rgba(32, 32, 32, 0.98);
  width: 100%;
  text-align: center;
  color: rgba(181, 181, 181, 0.871);
  font-size: 0.6em;
  padding-top: 2%;
}

footer .row img {
  width: auto;
  height: 3em;
}

footer a, footer a:visited {
  color: rgba(181, 181, 181, 0.871);
}

footer div.row {
  padding: 1%;
  display: inline-table;
  width: 10%;
}

footer #icon-pack {
  display: block;
  margin-top: 1.5em;
}

table {
  margin: auto;
  table-layout: auto;
  width: 100%;
  color: white;
}

table tbody th {
  padding: 1%;
  text-align: left;
  width: 41.66667%;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

table tbody td {
  text-align: center;
  padding: 1%;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

table tfoot td {
  font-size: 0.7em;
  text-align: right;
  padding-right: 10%;
  border: none;
  border-collapse: collapse;
}

#newsLetter {
  padding-bottom: 5%;
}

form fieldset {
  background-color: rgba(60, 60, 60, 0.396);
  color: white;
  text-align: center;
  margin: 10%;
  margin-bottom: 5%;
  padding-bottom: 4%;
  border: 1px solid rgba(255, 255, 255, 0.396);
}

form fieldset label {
  text-align: center;
  margin: auto;
  margin-bottom: 1%;
  display: block;
}

form fieldset input {
  margin: auto;
  margin-bottom: 10%;
  display: block;
  width: 80%;
  -webkit-box-shadow: 0 0 10px 2px #333;
     -moz-box-shadow: 0 0 10px 2px #333;
          box-shadow: 0 0 10px 2px #333;
  height: 1.5em;
  background-color: #f1f1f1;
  border: none;
  -webkit-border-radius: 24px;
     -moz-border-radius: 24px;
          border-radius: 24px;
  color: black;
  padding: 15px 20px;
  text-align: center;
}

form fieldset input#mobile_signup {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  display: inline;
  font-size: 1em;
}

form fieldset legend {
  border: 1px solid rgba(255, 255, 255, 0.396);
  margin: auto;
  margin-bottom: 10%;
  padding: 1%;
  text-shadow: 1px 1px 1px #222;
}

form div {
  text-align: center;
}

form div input[type="submit"] {
  margin: auto;
  padding: 5% 15%;
  background-color: #353535;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

form div input[type="submit"]:hover {
  background-color: #1c1c1c;
}

form div #reason {
  height: 2.5em;
  width: 25%;
}

#contact {
  padding-bottom: 5%;
}

@-webkit-keyframes Scroll-Right {
  0% {
    left: 0;
  }
  100% {
    left: -400%;
  }
}

@-moz-keyframes Scroll-Right {
  0% {
    left: 0;
  }
  100% {
    left: -400%;
  }
}

@-o-keyframes Scroll-Right {
  0% {
    left: 0;
  }
  100% {
    left: -400%;
  }
}

@keyframes Scroll-Right {
  0% {
    left: 0;
  }
  100% {
    left: -400%;
  }
}

@media only screen and (min-width: 375px) {
  figure figcaption {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 400px) {
  table tbody th {
    font-size: 1.2em;
  }
  table tbody td {
    font-size: 1.2em;
    text-align: right;
  }
  table tfoot td {
    font-size: 0.8em;
    padding-right: 0;
  }
}

@media only screen and (min-width: 425px) {
  .horizontalnav ul a {
    height: 4em;
  }
  .horizontalnav ul a li {
    height: 2em;
    line-height: 2em;
  }
}

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 2.4em;
  }
  figure {
    width: 80%;
  }
  .container {
    width: 80%;
  }
  h2 {
    font-size: 1.6em;
  }
  fieldset #newsLetter div:nth-of-type(1), fieldset #newsLetter div:nth-of-type(2) {
    width: 49%;
    display: inline-block;
  }
}

@media only screen and (min-width: 600px) {
  #hours h2 {
    margin-top: 6%;
  }
  article p {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 700px) {
  h1 {
    font-size: 3.2em;
  }
  h2 {
    font-size: 2.2em;
  }
  figure figcaption {
    font-size: 1em;
  }
  table {
    width: 70%;
  }
  table tbody th {
    font-size: 1.5em;
  }
  table tbody td {
    font-size: 1.5em;
    text-align: right;
  }
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.5em;
  }
  article p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 900px) {
  .horizontalnav ul a {
    height: 6em;
  }
  .horizontalnav ul a li {
    height: 1em;
    line-height: 1em;
    font-size: 2em;
  }
  table {
    width: 50%;
  }
  table tbody th {
    font-size: 1.5em;
  }
  table tbody td {
    font-size: 1.5em;
    text-align: right;
  }
  table tfoot td {
    font-size: 1em;
  }
  #newsLetter fieldset div {
    width: 24%;
    display: inline-block;
  }
  #newsLetter fieldset div input {
    width: 70%;
  }
  #newsLetter fieldset div input[type="submit"] {
    width: 20%;
  }
  #contact fieldset div {
    width: 24%;
    display: inline-block;
  }
  #contact fieldset div input {
    width: 70%;
  }
  #contact fieldset div input[type="submit"] {
    width: 20%;
  }
  #contact fieldset div input[type="range"] {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  form div input[type="submit"] {
    padding: 2% 4%;
    font-size: 1.5em;
  }
  article p {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 100px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 200px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 300px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 400px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 500px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 600px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 700px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 800px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 900px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 1000px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 1100px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 1200px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 1300px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 1400px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 1500px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 1600px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 1700px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 1800px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 1900px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 2000px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 2100px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 2200px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 2300px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 2400px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 2500px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 2600px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 2700px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 2800px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 2900px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 3000px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 3100px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 3200px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 3300px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 3400px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 3500px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 3600px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 3700px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 3800px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 3900px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 4000px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 4100px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 4200px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 4300px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 4400px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 4500px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 4600px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 4700px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 4800px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 4900px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 5000px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 5100px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 5200px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 5300px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 5400px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 5500px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 5600px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 5700px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 5800px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 5900px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 6000px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 6100px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 6200px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 6300px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 6400px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 6500px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 6600px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 6700px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 6800px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 6900px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 7000px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 7100px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 7200px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 7300px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 7400px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 7500px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 7600px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 7700px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 7800px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 7900px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 8000px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 8100px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 8200px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 8300px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 8400px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 8500px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 8600px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 8700px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 8800px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 8900px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 9000px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 9100px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 9200px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 9300px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 9400px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 9500px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 9600px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 9700px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 9800px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 9900px) {
  h1:after {
    content: "";
  }
}

@media only screen and (min-width: 10000px) {
  h1:after {
    content: "";
  }
}

/*
    Contact Us page containing text area 
	Link from your portfolio page to your new business page.
*/
