.row {
  width: 49%;
  display: inline-block;
}

.wrapper {
  background-image: url("../images/background3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: absolute;
}

.gap {
  content: "";
  border: 3px solid grey;
  height: 0px;
}
