@import "_variables.scss";
@import "_mixins.scss";
@import "_classes.scss";


#newsLetter
{
	@extend %glass;
	padding-bottom: 5%;
	form
	{
		label
		{
			text-align: center;
			margin: auto;
			margin-bottom: 1%;

			display: block;
		}
		input
		{
			margin: auto;
			margin-bottom: 5%;
			display: block;
			border-radius: 5%;
			box-shadow: 0 0 15px 5px #333;
		}
	}
}