@import "_variables.scss";
@import "_mixins.scss";
@import "_classes.scss";


#newsLetter
{
	@extend %glass;
	padding-bottom: 5%;
	form
	{
		fieldset
		{
			background-color: darken($glass-color, 50%);
			color:white;
			text-align: center;
			margin: 10%;
			padding-bottom: 5%;


			border: 1px solid lighten($glass-color, 30%);
			@extend %font-style1;
			label
			{
				text-align: center;
				margin: auto;
				margin-bottom: 1%;

				display: block;
			}
			input
			{
				margin: auto;
				margin-bottom: 10%;
				display: block;
				border-radius: 5%;
				box-shadow: 0 0 10px 2px #333;
				height: $font-base*1.5;
			}
			legend
			{
				border: 1px solid lighten($glass-color, 30%);
				margin: auto;
				margin-bottom: 10%;
				padding: 1%;
				text-shadow: 1px 1px 1px #222;
			}
		}
		div
		{
			text-align: center;
			#submitButton
			{
				margin: auto;
				padding: 5% 15%;
				background-color: opacify($primary-color, 1);
				//background-color: opacify(darken($glass-color, 50%), 0.5) ;
				color: white;
				&:hover
				{
					background-color: $primary-color-hover;
				}
			}
		}
	}
}
